body {
    background: url();
    background-size: cover;
    background-position: center;
    font-family: 'Concert One', cursive;
}


h1, h3 {
    padding-bottom: 1rem;
}



#showcase {
    background-image: url('img/anna-wangler-_GqwoiT7QY8-unsplash.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
 
#showcase h1 {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Satisfy', cursive;
    color: #D1F2EB;
}

#showcase h2 {
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
    color: #D1F2EB;
}

#headshot{
    align-content: left;
    max-width: 100%;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    background: transparent;    
}


.jumbotron {
    background-color: #D1F2EB;

}

.jumbotron h1 {
    font-size: 2.5em; 

}



