body {
    background: url();
    background-size: cover;
    background-position: center;
    font-family: 'Concert One', cursive;
}


h1, h3 {
    padding-bottom: 1rem;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: right;
    background: transparent;    
}

#showcase {
    background: url('https://images.unsplash.com/photo-1547856699-f13e904de06c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80') no-repeat center / cover;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    bottom: 0;
    position: sticky;
    width: 100%;
    z-index: -1;
}


/*
.section {
  align-items: center;
  background: url('img/anna-wangler-_GqwoiT7QY8-unsplash.jpg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
  z-index: -1;
}
*/
 
#showcase h1 {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Satisfy', cursive;
    color: #D1F2EB;
}

#showcase h2 {
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
    color: #D1F2EB;
}



#headshot{
    align-content: left;
    max-width: 100%;
}


#showcasw, #ScrollDown{
    display: flex;
    justify-content: center;
    align-items: center;
    position: bottom;
    width: 100%;
    height: 0;
  
}


#ScrollDown .container {
    position: relative;
    width: 24px;
    height: 24px;
  }


  #ScrollDown .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  #ScrollDown .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  #ScrollDown .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  #ScrollDown .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background-color: #D1F2EB;
  }
  
  #ScrollDown .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  #ScrollDown .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

 #about{
  padding-bottom: none;
 }

  #skills {
    height: 50vh;
    background-color: green;
  }

  #portfolio {
    height: 100vh;
  }

  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
    
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
  */


.jumbotron {
    background-color: #D1F2EB;

}

.jumbotron h1 {
    font-size: 2.5em; 

}



